<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whac_a_mole">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoavion2"
        android:label="Mole Airport"
        android:roundIcon="@drawable/iconoavion2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Whacamole">
        <activity
            android:name=".Records"
            android:exported="false" />
        <activity
            android:name=".Opciones"
            android:exported="false" />
        <activity
            android:name=".JuegoCheckIn"
            android:exported="false" />
        <activity
            android:name=".JuegoPasaportes"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>